/*.group:after {
  content: "";
  display: table;
  clear: both;
}*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}


.is-floated {
  float: left;
  clear: both;
}

body {
  background-color: #F5F5F5;
}

.container {
  margin: 0 auto 0 auto;
  border: 1px solid #D3D3D3;
  background-color: #F2F4F5;;
  width: 80%;
  padding-bottom: 3%;
  /*height: 100%;*/
}

  #header-container {
    text-align: center;
  }

    #header-container header h2 {
      color: #343434;;
    }

  /*#player-container {
    margin: 0 auto 0 auto;
    width: 80%;
    height: 30%;
  }*/

  #player-container {
    /*margin: 0 auto 0 auto;*/
    text-align: center;
    width: 100%;
    /*height: 100%;*/
  }

    #player {
      /*margin: 0 auto 0 auto;
      position: relative;*/
      z-axis: 0;
    }

    #overlay {
      border: 1px solid black;
      background-color: azure;
      position: absolute;
      top: 360px;
      right: 27%;
      z-axis: 1;
    }

    .hidden {
      visibility: hidden;
    }
    .visible {
      visibility: visible;
    }

    #form-container {
      width: inherit;
      text-align: center;
    }

    #cue-container {
      margin: 0 auto 0 auto;
      border: 1px solid #D3D3D3;
      background-color: #F2F4F5;;
      width: 80%;
      margin-top: 3%;
    }
      #cue-container h3 {
        text-align: center;
      }

    .util-buttons {
      width: inherit;
      text-align: center;
    }

    #cue-list-container {
      width: 100%;
      /*border: 1px solid #D3D3D3;*/
    }

    #cue-list {
      list-style-type: none;
    }



@media screen and (max-width: 740px) {


    .container {
      margin: 0;
      width: inherit;
    }

}

@media screen and (max-width: 640px) {

    .container {
      margin: 0;
      width: inherit;
    }

      #player {
        width: inherit;
      }
}
